= page_chunk "/chunks/book_reviews/vision"

%div.actions
  - logged_in? do
    = link_to 'New Book Review', new_book_review_path, class: "primary"
  - if !logged_in?
    - link_to 'Submit your book...', new_book_submission_path, class: "primary"


= will_paginate(@book_reviews)
= render @book_reviews
= will_paginate(@book_reviews)
