<%= quick_form_for(@author) do |f| %>
  <%= error_messages @author %>

  <%= f.quick_text_field( :name ) %>
  <%= f.quick_text_field( :short_bio ) %>
  <%= f.quick_text_area( :long_bio ) %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
