%h1 Listing authors

%table
  %thead
    %td Name
    %td Short bio
    %td Long bio
    %td 
    %td 
    %td 
  

  - @authors.each do |author| 
    %tr 
      %td  
        = author.name 
      %td  
        = author.short_bio 
      %td  
        = author.long_bio 
      %td  
        = link_to 'Show', author 
      %td  
        = link_to 'Edit', edit_author_path(author) 
      %td 
        = link_to 'Destroy!', author, confirm: 'Are you sure?', method: :delete 

%br

%div.actions
  = link_to 'New Author', new_author_path
