%h1 CMS Pages

%table
  %tr
    %th Title
    %th Slug
    %th &nbsp;
    %th &nbsp;
    %th &nbsp;

- @pages.each do |page|
  %tr
    %td 
      = page.title
    %td
      = page.slug
    %td
      = link_to 'Show', page
    %td 
      = link_to 'Edit', edit_page_path(page)
    %td
      = link_to 'Destroy', page, confirm: 'Are you sure?', method: :delete
  
<br />

= link_to 'New Page', new_page_path
