%div.book
  
  %h2
    %span.title
      = book.title
    %br
    %span.author
      by #{book.author.name}
    
  %div.image
    = image_tag( book.cover_image )
    
  %div.summary
    = markdown book.summary
    
  
  %div.how_to_buy
    = markdown book.how_to_buy