= quick_form_for @book do |f|
  = error_messages(@book)

  = f.quick_text_field :title
  = f.quick_text_area :teaser
  = f.quick_text_area :summary
  = f.quick_check_box "Publish?", :published, explanation: "Should the story be visible to readers?"
  = f.quick_file_field :cover_file

  %div.actions
    = f.submit
  
- unless @book.new_record?
  %div.actions
    = link_to "View", book_path( @book )
