<%= quick_form_for(@story) do |f| %>
  <% if @story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
      <% @story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.quick_text_field :title %>
  <%= f.quick_text_field :teaser, :explanation => "Try to hook the readers like the floppy little fishies they are." %>
  
  <%= f.quick_text_area :body %>
  <%= f.quick_check_box "Publish?", :published, :explanation => "Should the story be visible to readers?" %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
