!!! 5
%html
  %head
    <!-- Generated at #{Time.now} -->
    %title #{story_complete_simple_html.title}
    <link href="stylesheets/epub.css" media="screen" rel="stylesheet" type="text/css" />
  
  

  %body
    %h1 #{story_complete_simple_html.title}
    
    %p.author by #{story_complete_simple_html.author.name}

    = markdown( story_complete_simple_html.body )

    %p.copyright_notice Copyright notice: #{markdown Sorcery.config.story.copyright_notice}

