<h1>Listing stories</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Status</th>
    <th>Published</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stories.each do |story| %>
  <tr>
    <td><%= story.title %></td>
    <td><%= story.body %></td>
    <td><%= story.status %></td>
    <td><%= story.published %></td>
    <td><%= link_to 'Show', story %></td>
    <td><%= link_to 'Edit', edit_story_path(story) %></td>
    <td><%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Story', new_story_path %>
