<h1><%= @story.title %></h1>

<div class="story" id="story_<%= @story.id %>">
  <% unless @story.published -%>
    <p class="unpublished">This story is not visible to the ignorant masses.</p>
  <% end -%>

  <div class="body">
    <%= markdown @story.body %>
  </div>

  <% unless @story.status.blank? -%>
    <p>
      <strong>Status:</strong> <%= @story.status %>
    </p>
  <% end -%>
</div>
  

<div class="actions">
  <% logged_in? do -%>
    <%= link_to 'Edit', edit_story_path(@story) %> |
  <% end -%>
  <%= link_to 'Back', stories_path %>
</div>