<!DOCTYPE html>
<html>
  <head>
    <title>Sorcery</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render :partial => "/layouts/application_header" %>
    <%= render :partial => "/layouts/application_sidebar" %>
  
    <div id="content">
      <%= yield %>
    </div>
    
    <%= render :partial => "/layouts/application_footer" %>
  </body>
</html>
