!!!html
%html
  %head
    %title Banned Sorcery
    = stylesheet_link_tag "application" 
    = stylesheet_link_tag Rails.env 
    - logged_in? do 
      = stylesheet_link_tag "logged_in" 
    
    = javascript_include_tag "application"
    = javascript_include_tag params[:controller] 
    = csrf_meta_tags 
  

  %body
    = render partial: "/layouts/application_header" 
    = render partial: "/layouts/application_sidebar" 
  
    %div#content 
      = render partial: "/layouts/notices"
      
      
      = yield 
    
    
    = render partial: "/layouts/application_footer" 
    = render partial: "/layouts/boot_sequence"

